<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>facebookconnect</name>
	<displayName><![CDATA[Facebook connect]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Implement a Facebook connect]]></description>
	<author><![CDATA[Pierrick CAEN]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>